body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #370303;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  gap: 10px;
  flex-wrap: wrap;
}

.header input,
.header select,
.header button {
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 10px;
}

.header button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.header button:hover {
  background-color: #0056b3;
}

.page-title h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: rgb(99, 99, 99);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}

.movie-card p {
  margin: 5px 0;
}

.movie-card h2 {
  word-wrap: break-word;
  /* Ensures the title breaks and wraps onto the next line */
  white-space: normal;
  /* Ensures text wraps normally */
  /*overflow-wrap: break-word;
  /* Optional: Another property to ensure long words break */
  text-align: center;
  /* This centers the text horizontally */
}

.movie-counter {
  background-color: red;
  padding: 5px;
  border-radius: 5px;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columnas en pantallas grandes */
  width: 100%;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

/* Responsividad */
@media (max-width: 900px) {
  #container {
    grid-template-columns: repeat(3, 1fr);
    /* 3 tarjetas por fila en pantallas medianas */
  }
}

@media (max-width: 600px) {
  #container {
    grid-template-columns: 1fr;
    /* 1 tarjeta por fila en pantallas pequeñas */
  }
}
